.surabi {
letter-spacing: 0;
line-height: normal;
min-height: 34px;
min-width: 100px;
text-align: center;
}
.tahu-susu-bandung {
letter-spacing: 0;
line-height: normal;
min-height: 34px;
min-width: 301px;
text-align: center;
}
.pisang-bollen-bandung {
letter-spacing: 0;
line-height: normal;
min-height: 34px;
min-width: 348px;
text-align: center;
}
.navbar-link-mie-kocok {
letter-spacing: 0;
line-height: normal;
min-height: 34px;
min-width: 150px;
text-align: center;
}
.navbar-link {
letter-spacing: 0;
line-height: normal;
min-height: 34px;
min-width: 123px;
text-align: center;
}
.navbar-link-nasi-tutug-oncom {
letter-spacing: 0;
line-height: normal;
min-height: 34px;
min-width: 282px;
text-align: center;
}
.navbar-link-lotek {
    letter-spacing: 0;
line-height: normal;
min-height: 34px;
min-width: 82px;
text-align: center;
}

